<!DOCTYPE html">
<html lang="en">
<head>
  <title> </title>
</head>


  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<body>
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
     <li><a href="/">FAMILY</a> </li>
      <li><a href="/amandeep">Amandeep </a></li>
      <li><a href="/simi">Simi </a> </li>
      <li><a href="/preeti">Preeti </a> </li>
      <li><a href="/kulwant">Kulwant</a> </li>
      <li><a href="/satvir">Satvir </a></li>
  </ul>
  </nav>